#title{
  background-color: #ff4c68;
  color: #fff;
}
body{
  font-family: "Montserrat";
}
h1{
  font-family: "Montserrat";
font-size: 3rem;
font-weight: 900;
  line-height:1.5;
}
h2{
  font-weight: 600;
  font-size: 3rem;
  line-height: 1.5;
}
h3
{
  font-weight:600;

}
.container-fluid{
  padding: 3% 15% 9.5%;
}
.navbar{
  padding: 0 0 4rem;
}
.navbar-brand{
  font-family: "Ubuntu";
  font-size: 2.5rem;
  font-weight: bold;
}
.nav-item{
  padding:0 18px;

}
.nav-link{
  font-size: 1.2rem;
  font-weight: lighter;
}
.dow-b{
  margin:5% 3% 5% 0;
}
.ti{
  width: 60%;
  transform: rotate(25deg);
 position: absolute;
 right:30%
}
.aa{
  position: relative;
}
#features{
  padding: 7% 16%;
  background-color: #fff;
  position: relative;

}
.f{
  text-align: center;
  padding: 5%
}
.f1{
  color: #8f8f8f;
}
.icon{
  color:#ef8172;
  margin:1rem;
}
.icon:hover
{
  color: #ff4c68;
}
#testimonials{
  background-color: #ef8172;

  text-align: center;
  color: #fff;

}
.carousel-item{
  padding: 7% 15%;
}
.id{
  width: 10%;
 border-radius: 100%;
margin: 20px;
}
#press{
  background-color: #ef8172;
  text-align: center;
  padding-bottom: 3%;
}

.id1{
  width: 15%;
  margin:20px 20px 50px;
}
#pricing{
  text-align: center;
  padding:100px;
}
.pc
{
  padding: 3% 2%;
}
@media (max-width:1028px) {
   #title{
     text-align: center;
   }
  .ti{
position: static;
    transform: rotate(0);
  }
  .aa{
    position: static;
    width: 100%;
  }

}
#cta{
  background-color:#ff4c68;
color:#fff;
padding: 7% 15%;
  text-align: center;
}
.h31{
  font-weight:900;
  font-size: 3.5rem;
  line-height: 1.5;
}
#footer{
  text-align: center;
  padding: 7% 15%;
}
.social{
  margin:20px 10px;
}
